th{
    Color: Green;
    font-size: 100px; 
}
.second{
    background-color:crimson;
    font-size: 18px;
}

.first{
background-color: blue;
font-size: 40px;

}

.third{
    background-color: sandybrown;
    font-size: 70px;
    
    }